<div class="SignUp">
  <div class="SignUp__Container">
    <div class="SignUp__Container-Intro">
      <img src="/assets/img/logo.png" alt="Logo">
      <h2>Connect with friends and the world around you on Hey.</h2>
    </div>

    <div class="SignUp__Container-FormWrapper">
      <div class="SignUp__Container-FormWrapper-Heading">
        <h1>Sign Up</h1>
        <span>It’s quick and easy.</span>
      </div>

      <form class="SignUp__Container-Form">
        <div class="SignUp__Container-Form-Group">
          <input type="text" class="SignUp__Container-Form-Input" placeholder="First name">
          <input type="text" class="SignUp__Container-Form-Input" placeholder="Last name">
        </div>
        <input type="email" class="SignUp__Container-Form-Input" placeholder="Email address">
        <input type="password" class="SignUp__Container-Form-Input" placeholder="Password">
        <input type="password" class="SignUp__Container-Form-Input" placeholder="Repeat password">
        <div class="SignUp__Container-Form-Heading">Birthday</div>
        <div class="SignUp__Container-Form-Group">
          <select class="SignUp__Container-Form-Select">
            <option
              *ngFor="let month of months; let i = index"
              [value]="i + 1"
              [selected]="i + 1 === currentMonth">
              {{ month }}
            </option>
          </select>
          <select class="SignUp__Container-Form-Select">
            <option
              *ngFor="let day of days"
              [value]="day"
              [selected]="day === currentDay">
              {{ day }}
            </option>
          </select>
          <select class="SignUp__Container-Form-Select">
            <option
              *ngFor="let year of years"
              [value]="year"
              [selected]="year === currentYear">
              {{ year }}
            </option>
          </select>
        </div>
        <div class="SignUp__Container-Form-Heading">Gender</div>
        <div class="SignUp__Container-Form-Group">
          <div class="SignUp__Container-Form-Radio">
            <label for="male">Male</label>
            <input type="radio" id="male" name="gender">
          </div>
          <div class="SignUp__Container-Form-Radio">
            <label for="female">Female</label>
            <input type="radio" id="female" name="gender">
          </div>
        </div>
        <div class="SignUp__Container-Form-TermsPolicy">By clicking Sign Up, you agree to our <a href="#">Terms</a>, <a href="#">Data Policy</a> and <a href="#">Cookies Policy</a>. You may receive SMS Notifications from us and can opt out any time.</div>
        <button class="SignUp__Container-Form-Submit">Sign Up</button>
        <div class="SignUp__Container-Form-SignInLink">If you already have an account <a routerLink="/sign-in">Sign In</a></div>
      </form>
    </div>
  </div>

  <hey-sign-footer class="SignUp__Footer"></hey-sign-footer>
</div>