<div class="SignUp">
  <div class="SignUp__Container">
    <div class="SignUp__Container-Intro">
      <img src="/assets/images/logo.png" alt="Logo">
      <h2>Connect with friends and the world around you on Hey.</h2>
    </div>

    <div class="SignUp__Container-FormWrapper">
      <div class="SignUp__Container-FormWrapper-Heading">
        <h1>Sign Up</h1>
        <span>It’s quick and easy.</span>
      </div>

      <form class="SignUp__Container-Form" [formGroup]="signUpForm">
        <div class="SignUp__Container-Form-Group">
          <div class="SignUp__Container-Form-Wrap">
            <input
              type="text"
              class="SignUp__Container-Form-Input"
              [class.SignUp__Container-Form-Input--Error]="
                (submitted || signUpForm.get('firstName').touched) &&
                signUpForm.get('firstName').invalid"
              placeholder="Firstname"
              formControlName="firstName">
            <div
              *ngIf="(submitted || signUpForm.get('firstName').touched) && signUpForm.get('firstName').invalid"
              class="SignUp__Container-Form-Error SignUp__Container-Form-Error--Left">
              <div *ngIf="signUpForm.get('firstName').hasError('required')">Required field</div>
            </div>
            <span
              *ngIf="(submitted || signUpForm.get('firstName').touched) && signUpForm.get('firstName').invalid"
              class="SignUp__Container-Form-Icon">
            </span>
          </div>
          <div class="SignUp__Container-Form-Wrap">
            <input
              type="text"
              class="SignUp__Container-Form-Input"
              [class.SignUp__Container-Form-Input--Error]="
                (submitted || signUpForm.get('lastName').touched) &&
                signUpForm.get('lastName').invalid"
              placeholder="Lastname"
              formControlName="lastName">
            <div
              *ngIf="(submitted || signUpForm.get('lastName').touched) && signUpForm.get('lastName').invalid"
              class="SignUp__Container-Form-Error SignUp__Container-Form-Error--Bottom">
              <div *ngIf="signUpForm.get('lastName').hasError('required')">Required field</div>
            </div>
            <span
              *ngIf="(submitted || signUpForm.get('lastName').touched) && signUpForm.get('lastName').invalid"
              class="SignUp__Container-Form-Icon">
            </span>
          </div>
        </div>
        <div class="SignUp__Container-Form-Wrap">
          <input
            type="email"
            class="SignUp__Container-Form-Input"
            [class.SignUp__Container-Form-Input--Error]="
              (submitted || signUpForm.get('email').touched) &&
              signUpForm.get('email').invalid"
            placeholder="Email address"
            formControlName="email">
          <div
            *ngIf="(submitted || signUpForm.get('email').touched) && signUpForm.get('email').invalid"
            class="SignUp__Container-Form-Error SignUp__Container-Form-Error--Left">
            <div *ngIf="signUpForm.get('email').hasError('required')">Required field</div>
          </div>
          <span
            *ngIf="(submitted || signUpForm.get('email').touched) && signUpForm.get('email').invalid"
            class="SignUp__Container-Form-Icon">
          </span>
        </div>
        <div class="SignUp__Container-Form-Wrap">
          <input
            type="text"
            class="SignUp__Container-Form-Input"
            [class.SignUp__Container-Form-Input--Error]="
              (submitted || signUpForm.get('username').touched) &&
              signUpForm.get('username').invalid"
            placeholder="Username"
            formControlName="username">
          <div
            *ngIf="(submitted || signUpForm.get('username').touched) && signUpForm.get('username').invalid"
            class="SignUp__Container-Form-Error SignUp__Container-Form-Error--Left">
            <div *ngIf="signUpForm.get('username').hasError('required')">Required field</div>
          </div>
          <span
            *ngIf="(submitted || signUpForm.get('username').touched) && signUpForm.get('username').invalid"
            class="SignUp__Container-Form-Icon">
          </span>
        </div>
        <div class="SignUp__Container-Form-Wrap">
          <input
            type="password"
            class="SignUp__Container-Form-Input"
            [class.SignUp__Container-Form-Input--Error]="
              (submitted || signUpForm.get('password').touched) &&
              signUpForm.get('password').invalid"
            placeholder="Password"
            formControlName="password">
          <div
            *ngIf="(submitted || signUpForm.get('password').touched) && signUpForm.get('password').invalid"
            class="SignUp__Container-Form-Error SignUp__Container-Form-Error--Left">
            <div *ngIf="signUpForm.get('password').hasError('required')">Required field</div>
          </div>
          <span
            *ngIf="(submitted || signUpForm.get('password').touched) && signUpForm.get('password').invalid"
            class="SignUp__Container-Form-Icon">
          </span>
        </div>
        <div class="SignUp__Container-Form-Wrap">
          <input
            type="password"
            class="SignUp__Container-Form-Input"
            [class.SignUp__Container-Form-Input--Error]="
              (submitted || signUpForm.get('repeatPassword').touched) &&
              signUpForm.get('repeatPassword').invalid"
            placeholder="Repeat password"
            formControlName="repeatPassword">
          <div
            *ngIf="(submitted || signUpForm.get('repeatPassword').touched) && signUpForm.get('repeatPassword').invalid"
            class="SignUp__Container-Form-Error SignUp__Container-Form-Error--Left">
            <div *ngIf="signUpForm.get('repeatPassword').hasError('required')">Required field</div>
          </div>
          <span
            *ngIf="(submitted || signUpForm.get('repeatPassword').touched) && signUpForm.get('repeatPassword').invalid"
            class="SignUp__Container-Form-Icon">
          </span>
        </div>
        <div class="SignUp__Container-Form-Heading">Birthday</div>
        <div class="SignUp__Container-Form-Group">
          <select class="SignUp__Container-Form-Select">
            <option
              *ngFor="let month of months; let i = index"
              [value]="i + 1"
              [selected]="i + 1 === currentMonth">
              {{ month }}
            </option>
          </select>
          <select class="SignUp__Container-Form-Select">
            <option
              *ngFor="let day of days"
              [value]="day"
              [selected]="day === currentDay">
              {{ day }}
            </option>
          </select>
          <select class="SignUp__Container-Form-Select">
            <option
              *ngFor="let year of years"
              [value]="year"
              [selected]="year === currentYear">
              {{ year }}
            </option>
          </select>
        </div>
        <div class="SignUp__Container-Form-Heading">Gender</div>
        <div class="SignUp__Container-Form-Group">
          <div class="SignUp__Container-Form-Radio">
            <label for="male">Male</label>
            <input type="radio" id="male" value="male" formControlName="gender">
          </div>
          <div class="SignUp__Container-Form-Radio">
            <label for="female">Female</label>
            <input type="radio" id="female" value="female" formControlName="gender">
          </div>
        </div>
        <div class="SignUp__Container-Form-TermsPolicy">By clicking Sign Up, you agree to our <a href="#">Terms</a>, <a href="#">Data Policy</a> and <a href="#">Cookies Policy</a>. You may receive SMS Notifications from us and can opt out any time.</div>
        <button
          type="button"
          class="SignUp__Container-Form-Submit"
          (click)="signUp()">Sign Up</button>
        <div class="SignUp__Container-Form-SignInLink">If you already have an account <a routerLink="/sign-in">Sign In</a></div>
      </form>
    </div>
  </div>

  <hey-sign-footer class="SignUp__Footer"></hey-sign-footer>
</div>