@import 'variables';

.SignUp {
  height: 100vh;
  position: relative;
  padding-top: 100px;

  &__Container {
    max-width: 980px;
    margin: 0 auto;
    display: flex;

    &-Intro {
      flex-grow: 1;
      padding-right: 80px;
      padding-top: 75px;
      
      img {
        width: auto;
        height: 60px;
        margin-bottom: 15px;
      }

      h2 {
        color: #1c1e21;
        font-size: 28px;
        line-height: 32px;
      }
    }

    &-FormWrapper {
      flex-basis: 432px;
      flex-shrink: 0;
      background-color: $color-white;
      box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
      border-radius: 8px;

      &-Heading {
        padding: 10px 16px;
        border-bottom: 1px solid #dadde1;
        
        h1 {
          color: #1c1e21;
          font-size: 32px;
          font-weight: bold;
          line-height: 38px;
        }

        span {
          color: #606770;
          font-size: 15px;
          line-height: 24px;
        }
      }
    }

    &-Form {
      padding: 16px 16px 24px;

      &-Heading {
        color: #606770;
        font-size: 12px;
        line-height: 20px;
      }

      &-Group {
        display: flex;
        margin: 0 -5px;

        .SignUp__Container-Form-Wrap {
          margin-left: 5px;
          margin-right: 5px;
        }

        select {
          margin-left: 5px;
          margin-right: 5px;
        }
      }

      &-Wrap {
        position: relative;
        margin-bottom: 10px;
      }

      &-Error {
        display: none;
        position: absolute;
        z-index: 1;
        min-width: 170px;
        padding: 13px;
        color: #fff;
        font-size: 12px;
        line-height: 17px;
        background-color: #be4b49;
        border-radius: 2px;
        box-shadow: 0 0 0 1px rgba(139, 3, 0, .75), 0 1px 10px rgba(0, 0, 0, .35);

        &--Left {
          left: -188px;
          top: -2px;

          &::after {
            content: '';
            border-left: 11px solid #be4b49;
            border-top: 11px solid transparent;
            border-bottom: 11px solid transparent;
            position: absolute;
            top: 50%;
            right: -11px;
            transform: translateY(-50%);
          }
        }

        &--Bottom {
          top: 58px;
          left: 0;

          &::after {
            content: '';
            border-bottom: 11px solid #be4b49;
            border-right: 11px solid transparent;
            border-left: 11px solid transparent;
            position: absolute;
            top: -11px;
            left: 15px;
          }
        }

        &-Messages {
          position: absolute;
          left: 0;
        }
      }

      &-Icon {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        width: 16px;
        height: 16px;
        background-image: url('/assets/images/icons/warning-circle.svg');
        background-size: contain;
      }

      &-Input {
        width: 100%;
        padding: 11px 11px;
        background-color: $color-white;
        border: 1px solid #dddfe2;
        border-radius: 6px;
        color: #1d2129;
        font-size: 15px;
        line-height: 16px;

        &::placeholder {
          color: #90949c;
        }

        &:focus {
          border-color: $color-primary-blue;
          box-shadow: 0 0 0 2px #e7f3ff;
          caret-color: $color-primary-blue;

          + .SignUp__Container-Form-Error {
            display: block;
          }
        }

        &--Error {
          border-color: red;
        }
      }

      &-Select {
        flex-basis: calc((100% - 30px) / 3);
        height: 36px;
        margin-bottom: 10px;
        padding: 0 5px;
        border: 1px solid #ccd0d5;
        border-radius: 4px;
        color: #1c1e21;
        font-size: 15px;
        line-height: 20px;
      }

      &-Radio {
        flex-basis: calc((100% - 30px) / 3);
        border: 1px solid #ccd0d5;
        border-radius: 4px;
        margin-bottom: 10px;
        margin-left: 5px;
        margin-right: 5px;
        position: relative;

        label {
          display: block;
          padding: 7px 28px 7px 10px;
          color: #1c1e21;
          font-size: 15px;
          line-height: 20px;
          cursor: pointer;
        }

        input {
          position: absolute;
          right: 10px;
          top: 0;
          margin: 0;
          height: 100%;
          cursor: pointer;
        }
      }

      &-TermsPolicy {
        margin-bottom: 20px;
        color: #777;
        font-size: 11px;
        line-height: 15px;

        a {
          color: #385898;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      &-Submit {
        display: block;
        min-width: 194px;
        height: 36px;
        margin: 0 auto 20px;
        background-color: #42b72a;
        border: none;
        border-radius: 6px;
        color: $color-white;
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.2s cubic-bezier(.08,.52,.52,1);

        &:hover {
          background-color: #36a420;
        }
      }

      &-SignInLink {
        text-align: center;
        color: #1c1e21;
        font-size: 14px;

        a {
          color: $color-primary-blue;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  &__Footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
  }
}